<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <button type="submit" > <a href="/register">Register</a> </button>
      
    <button type="submit" > <a href="/products">Products</a> </button>
      
    <button type="submit" > <a href="/usuarios/login">Login</a> </button>


  </body>
</html>
