<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>register</title>
</head>
<body>
    <%-include('partials/header')%>

    <form action="/register/" method="POST" >
        <input type="text" name="name" >
        <label for="name">name</label>
        <br>
        <input type="email" name="email" >
        <label for="email">email</label>
        <br>
        <input type="password" name="password">
        <label for="password">password</label>
        <br>
        <button type="submit">registrarse</button>
    </form>
    
</body>
</html>